@font-face {
  font-family: "Black Viper";
  src: url(../assets/fonts/BlackViper-L3Wz4.otf);
}

* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  /* scroll-behavior: smooth; */
  overflow: hidden;
}

button {
  font-family: "Black Viper";
  font-size: 100%;
  cursor: pointer;
}

:root {
  --unit: 16;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: max-content;
}

.app .ground {
  --scale: 100;
  height: calc(var(--scale) * var(--unit) * 1px);
  width: calc(var(--scale) * var(--unit) * 1px);
  border: calc(1 * var(--unit) * 1px) solid gray;

  margin-bottom: calc(11 * var(--unit) * 1px);

  display: flex;
  flex-direction: column;

  position: relative;
}

.player {
  --x: 0;
  --y: 0;
  --width: 5;
  --height: 5;
  --color: #2c3e50;
  --score: 0;
  position: absolute;
  width: calc(var(--width) * var(--unit) * 1px);
  height: calc(var(--height) * var(--unit) * 1px);
  background-color: var(--color);

  border-radius: 0.25rem;

  translate: calc(var(--x) * var(--unit) * 1px)
    calc(var(--y) * var(--unit) * 1px);

  transition: translate 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player::after {
  counter-reset: score var(--score);
  content: counter(score);
  display: block;
  color: black;

  font-weight: 700;
  font-size: calc(var(--height) / 2 * var(--unit) * 1px);
}

.ball {
  --x: 0;
  --y: 0;
  --width: 2;
  --height: 2;
  position: absolute;
  width: calc(var(--width) * var(--unit) * 1px);
  height: calc(var(--height) * var(--unit) * 1px);
  background-color: dodgerblue;

  border-radius: 50%;

  translate: calc(var(--x) * var(--unit) * 1px)
    calc(var(--y) * var(--unit) * 1px);
}
