@font-face {
  font-family: "Black Viper";
  src: url(../assets/fonts/BlackViper-L3Wz4.otf);
}
@font-face {
  font-family: "Witcher Handwriting";
  src: url(../assets/fonts/WitcherhandwritingRegular-jEDW9.otf);
}

* {
  font-family: "Witcher Handwriting", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style: none;
}

html {
  /* scroll-behavior: smooth; */
  overflow: hidden;
}

button {
  font-family: "Black Viper";
  font-size: 100%;
  cursor: pointer;
}

:root {
  --game-unit: 6;
  --menu-unit: 16;
}

.game-btn {
  background-image: url("../assets/icons/Item5.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;

  border: none;
  outline: none;
  background-color: transparent;

  padding: 16px 24px;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: max-content;
  min-width: 100vw;
}

.app .ground {
  --scale: 100;
  height: calc(var(--scale) * var(--game-unit) * 1px);
  width: calc(var(--scale) * var(--game-unit) * 1px);
  border: calc(1 * var(--game-unit) * 1px) solid gray;
  margin: auto;
  margin-bottom: calc(11 * var(--game-unit) * 1px);

  display: flex;
  flex-direction: column;

  position: relative;
}

.player {
  --x: 0;
  --y: 0;
  --width: 2;
  --height: 2;
  --color: #2c3e50;
  --name: "";
  --avatar: "";
  --direction-x: 1;
  --direction-y: 1;
  position: absolute;
  width: calc(var(--width) * var(--game-unit) * 1px);
  height: calc(var(--height) * var(--game-unit) * 1px);
  /* background-color: var(--color); */
  background-size: 100%;
  /* border-radius: 0.25rem; */
  /* scale: calc(var(--direction-x) + (var(--direction-y) * var(--direction-y))) 1; */
  translate: calc(var(--x) * var(--game-unit) * 1px)
    calc(var(--y) * var(--game-unit) * 1px);

  transition: translate 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player::after {
  /* counter-reset: name var(--name);
  content: counter(name); */
  content: "@" attr(data-name);
  display: block;
  color: gray;

  /* font-weight: 700; */
  font-size: calc(var(--height) / 5 * var(--game-unit) * 1px);

  position: absolute;
  top: calc(0.2 * var(--height) * var(--game-unit) * -1px);
  left: 0;
}

.ball {
  --x: 0;
  --y: 0;
  --width: 2;
  --height: 2;
  position: absolute;
  width: calc(var(--width) * var(--game-unit) * 1px);
  height: calc(var(--height) * var(--game-unit) * 1px);
  background-color: dodgerblue;

  border-radius: 50%;

  translate: calc(var(--x) * var(--game-unit) * 1px)
    calc(var(--y) * var(--game-unit) * 1px);
}
