.menubar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(12 * var(--menu-unit) * 1px);
  display: flex;
  /* gap: calc(1.5 * var(--game-unit) * 1px); */
  /* justify-content: space-between; */

  padding: calc(1.5 * var(--menu-unit) * 1px);
}

.collapsible-menubar-wrapper {
  flex: 1;
  display: flex;
  gap: 20px;
}

.menubar .menu {
  height: 100%;
  /* flex: 1; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10px;
  width: calc(36 * var(--menu-unit) * 1px);
}

/* .menu-wrapper,
.stats-wrapper,
.info-wrapper {
  display: inline-block;
} */
/* .stats-wrapper {
  flex: 1;
}
.info-wrapper {
  flex: 1;
} */

.info-label-icon {
  width: auto;
}
.menubar .stat {
  flex: 1;
}
