.menubar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: calc(12 * var(--menu-unit) * 1px);
  display: flex;
  /* gap: calc(1.5 * var(--game-unit) * 1px); */
  /* justify-content: space-between; */

  padding: calc(1.5 * var(--menu-unit) * 1px);
}

.collapsible-menubar-wrapper {
  flex: 1;
  display: flex;
  gap: 20px;
}

.menubar .menu {
  height: 100%;
  /* flex: 1; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px;
  width: calc(36 * var(--menu-unit) * 1px);
}

/* .menu-wrapper,
.stats-wrapper,
.info-wrapper {
  display: inline-block;
} */
/* .stats-wrapper {
  flex: 1;
}
.info-wrapper {
  flex: 1;
} */

.info-label-icon {
  width: auto;
}
.menubar .stat {
  flex: 1;
}

.stat {
  background: url(../assets/icons/Item3.png) no-repeat;
  background-size: 100% 100%;
  margin-left: 56px;

  width: 256px;

  padding: 16px 0;

  position: relative;
}

.stat ul {
  list-style: none;
  padding: 0;
  margin: 0;

  overflow-y: scroll;

  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;

  height: 100%;
  margin-bottom: 24px;
}

.stat ul li {
  display: flex;
  gap: 24px;

  width: 100%;
  /* align-items: center; */
  justify-content: space-between;
  align-items: center;

  padding: 0 24px;

  background-size: 100%;
}

.stat ul li .stat-li-name {
  display: flex;
  gap: 4px;
  align-items: center;
}

.stat ul li .stat-li-name::before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border-radius: 0.25rem;
  background: var(--avatar) no-repeat;
  background-size: 100%;
}

#own-stat .stat-li-name,
#own-stat .stat-li-score {
  font-weight: bold;
  color: crimson;
}

#own-stat {
  position: sticky;
  bottom: 0px;

  /* border: 1px solid white; */
  /* background-color: white; */

  background: linear-gradient(
    to left,
    rgba(0, 0, 0, 0),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(255, 255, 255),
    rgba(0, 0, 0, 0)
  );
}
