.popup {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}

.popup .popup-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 24px 32px;

  background: url(../assets/icons/Item3.png) no-repeat;
  background-size: 100% 100%;
}

.popup .popup-content .popup-close {
  position: absolute;
  top: 32px;
  right: 32px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.popup .popup-content .popup-close img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

.popup .popup-content .popup-close img:hover {
  opacity: 1;
}

.popup .popup-content .popup-close:hover {
  /* background-color: #eee; */
  color: crimson;
}

.popup .popup-content .popup-title {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}

.popup .popup-content .popup-body {
  font-size: 16px;
  padding: 16px 0;

  display: flex;
  flex-direction: column;
  gap: 32px;
}

.popup .popup-content .popup-body .section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.popup .popup-content .popup-body .popup-input {
  font-size: 16px;
  padding: 16px 16px;

  background: url(../assets/icons/Item2.png) no-repeat;
  background-size: 100% 100%;

  outline: none;
  border: none;

  color: black;
}

.popup .popup-content .popup-footer {
  text-align: right;
}

.popup .popup-content .popup-footer .popup-button {
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
}

.popup .popup-content .popup-avatar-list {
  display: flex;
  gap: 10px;
  margin-top: 4px;
}
.popup-avatar-list .popup-avatar {
  width: 32px;
  height: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.popup-avatar-list .popup-avatar input {
  visibility: hidden;
  position: absolute;
}

.popup-avatar-list .popup-avatar label {
  cursor: pointer;
  margin-top: auto;
  height: 100%;
}

.popup-avatar-list .popup-avatar input:checked + label {
  border-bottom: 4px solid #000;
  /* border-radius: 50%; */
  /* padding: 8px; */
}

.popup-avatar-list .popup-avatar input:checked + label img {
  translate: 0 -8px;
}

.popup-avatar-list .popup-avatar img {
  width: 100%;
  /* height: 100%; */
}
