.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: max-content;
  min-width: 100vw;
}

.game .ground {
  --scale: 100;
  height: calc(var(--scale) * var(--game-unit) * 1px);
  width: calc(var(--scale) * var(--game-unit) * 1px);
  border: calc(1 * var(--game-unit) * 1px) solid gray;
  margin: auto;
  margin-bottom: calc(6 * var(--game-unit) * 1px);

  display: flex;
  flex-direction: column;

  position: relative;

  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.68);
  border-radius: 0.25rem;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.3px);
  -webkit-backdrop-filter: blur(7.3px);
  border: 4px solid rgba(255, 255, 255, 1);
}

.player {
  --x: 0;
  --y: 0;
  --width: 2;
  --height: 2;
  --color: #2c3e50;
  --name: "";
  --avatar: "";
  --direction-x: 1;
  --direction-y: 1;
  position: absolute;
  width: calc(var(--width) * var(--game-unit) * 1px);
  height: calc(var(--height) * var(--game-unit) * 1px);
  /* background-color: var(--color); */
  background-size: 100%;
  /* border-radius: 0.25rem; */
  /* scale: calc(var(--direction-x) + (var(--direction-y) * var(--direction-y))) 1; */
  translate: calc(var(--x) * var(--game-unit) * 1px)
    calc(var(--y) * var(--game-unit) * 1px);

  transition: translate 200ms;
  display: flex;
  justify-content: center;
  align-items: center;
}

.player .avatar {
  width: 100%;
  height: 100%;
}
.player::after {
  /* counter-reset: name var(--name);
  content: counter(name); */
  content: "@" attr(data-name);
  display: block;
  color: gray;

  /* font-weight: 700; */
  font-size: calc(var(--height) / 5 * var(--game-unit) * 1px);

  position: absolute;
  top: calc(0.2 * var(--height) * var(--game-unit) * -1px);
  left: 0;
  width: max-content;
}

.ball {
  --x: 0;
  --y: 0;
  --width: 2;
  --height: 2;
  position: absolute;
  width: calc(var(--width) * var(--game-unit) * 1px);
  height: calc(var(--height) * var(--game-unit) * 1px);
  background: url(../assets/icons/Icon_Star.png) no-repeat;
  background-size: 100%;

  translate: calc(var(--x) * var(--game-unit) * 1px)
    calc(var(--y) * var(--game-unit) * 1px);
}
